.obi-preview-modal {
  position: fixed;
  border: 1px solid #ccc;
  top: 15px;
  left: 50%;
  bottom: 15px;
  z-index: 1;
  overflow: hidden;
}

.obi-frame-wrapper {
  position: relative;
}

#obi-frame {
  border: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 9000px;
  width: 100%;
}

.obi-dark {
  background-color: #333;
}

.obi-light {
  background-color: #eee;
}

.obi-transp {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPHJlY3QgeD0iMTAiIHk9IjEwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}
